

.block-container {
    /* Estilos para o contêiner */

    display: flex;
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center; /* Centraliza verticalmente */
    /*background: #008AD9FF;*/
    /*height:700px;*/
    /*border-radius: 20px 20px 0px 0px;*/
    /*box-shadow: 0px 0px 1px #171a1f, 0px 0px 2px #171a1f;  shadow-xs */
    /*#margin-top: 200px;  Adiciona margem de 20px ao redor do contêiner */
}

.block-container h1 {
    /* Estilos para o texto dentro do contêiner */
    text-align: center;
}



.stMarkdown {
   text-align: justify;
    color: #000000;
    font-size: 40px;
    font-weight: bold;
}